#ifndef {{ module.name.upper() }}_H_
#define {{ module.name.upper() }}_H_

/* Module: {{ module.name }}  
   Category: {{ module.category }}  
   MISRA: {{ module.misra_version }} */

{% for fn in module.functions %}
/**
 * {{ fn.description }}
 */
{{ fn.outputs | length > 0 and fn.outputs[0][1] or 'void' }}
{{ fn.name }}({% for name, ctype in fn.inputs %}{{ ctype }} {{ name }}{% if not loop.last %}, {% endif %}{% endfor %});
{% endfor %}

#endif /* {{ module.name.upper() }}_H_ */
