#include "{{ module.header }}"

static int {{ module.name }}_state = 0;

{% for fn in module.functions %}
{%- if fn.outputs and fn.outputs|length > 0 -%}
{{ fn.outputs[0][1] }}
{%- else -%}
void
{%- endif -%}
{{ fn.name }}({% if fn.inputs %}{% for name, ctype in fn.inputs %}{{ ctype }} {{ name }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}void{% endif %})
{
    /* TODO: implement {{ fn.name }} */
}

{% endfor %}
